<table class="tabela">
    <thead class="tabela__cabecalho">
        <th class="tabela__cabecalho__conteudo">Data</th>
        <th class="tabela__cabecalho__conteudo">Valor</th>
        <th class="tabela__cabecalho__conteudo">Destino</th>
    </thead>
    <tbody>
        <tr class="tabela__linha" *ngFor="let transfer of transferData">
            <td class="tabela__conteudo">{{ transfer?.date | date: "short" }}</td> <!--Utilizamos o datePipe para formatar a data-->
            <td class="tabela__conteudo">{{transfer?.value | currency }}</td> <!--porem o input precisa estar como type number-->
            <td class="tabela__conteudo">{{transfer?.valueTo }}</td>
        </tr>
    </tbody>
</table>
